<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<context:component-scan
		base-package="jeonggeun.spring.web"></context:component-scan>
		<!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
		  -->

	<context:property-placeholder
		location="classpath:config/database.properties" />
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />

		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>


	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>



	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

<!--
	<aop:config>
		<aop:pointcut
			expression="execution(* jeonggeun.spring.web..*(..))" id="txPointcut" />
		<aop:advisor advice-ref="txAdvice"pointcut-ref="txPointcut" />
	</aop:config>


	 <bean id="userService" class="jeonggeun.spring.web.user.impl.UserServiceImpl"> 
		<property name="userDAO" ref="userDAO" /> </bean> <bean id="userDAO" class="jeonggeun.spring.web.user.impl.UserDAO"></bean> -->
	<!-- <bean class="jeonggeun.spring.lifecycle.CustomBeanPostProcessor" /> 
		<bean id="myLifeBean" class="jeonggeun.spring.lifecycle.MyLifeBeanImpl" init-method="init"> 
		<property name="greeting"> <value>Hello, </value> </property> </bean> <bean 
		id="sony" class="jeonggeun.spring.polymorphism.SonySpeaker"/> <context:component-scan 
		base-package="tommy.spring.polymorphism"></context:component-scan> <bean 
		id="collectionBean" class="jeonggeun.spring.collection.CollectionBean"> <property 
		name="addressList"> <set value-type="java.lang.String"> <value>서울시 서초구 서초동</value> 
		<value>서울시 동대문구 장안동</value> <value>서울시 동대문구 장안동</value> <value>서울시 동대문구 장안동</value> 
		</set> <props> <prop key="홍길동">율도국</prop> <prop key="손오공">화과산</prop> </props> 
		<map> <entry> <key> <value>soap</value> </key> <ref bean="soapHandler" /> 
		</entry> <entry> <key> <value>rest</value> </key> <ref bean="restHandler" 
		/> </entry> </map> <list> <value>서울시 서초구 서초동</value> <value>서울시 동대문구 장안동</value> 
		</list> </property> </bean> -->


</beans>